<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
      <remove name="Python Interpreter" />
			<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python310\python.exe|C:\Python310\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
	</system.webServer>
	<appSettings>
		<add key="PYTHONPATH" value="C:\inetpub\wwwroot\BookMeeting" />
		<add key="WSGI_HANDLER" value="BookMeeting.wsgi.application" />
		<add key="DJANGO_SETTINGS_MODULE" value="BookMeeting.settings" />
	</appSettings>
</configuration>
